---
import { cloudinaryResize } from '@/utils/cloudinary';
import { getLangFromUrl } from '@/utils/language';
import { contact as contactCollection, getByLang, profile as profileCollection } from '@irfnd/data';
import { Icon } from 'astro-icon/components';

const lang = getLangFromUrl(Astro.url);
const profile = getByLang(profileCollection, lang);
const contactItems = getByLang(contactCollection, lang).items;

const stickyProfileContact = contactItems.filter((item) => item.showInStickyProfile);
---

<div data-gsap-fade class='relative md:flex md:items-start md:gap-14 lg:mb-8 lg:block lg:gap-0'>
	<div class='group relative mb-6 size-24 shrink-0 md:mb-0 md:size-42 lg:mb-6 lg:size-32'>
		<div
			class='absolute -inset-1 rounded-full bg-blue-600 opacity-20 blur transition-opacity duration-700 group-hover:opacity-40'
		>
		</div>
		<img
			src={cloudinaryResize(profile.photo.url, 400)}
			alt={profile.photo.alt}
			width={400}
			height={400}
			fetchpriority='high'
			class='border-background relative size-full rounded-full border-2 object-cover shadow-lg grayscale transition duration-500 group-hover:grayscale-0 dark:shadow-2xl'
		/>
	</div>

	<div class='md:flex-1 lg:flex-none'>
		<h1 class='text-foreground mb-2 text-3xl leading-tight font-thin tracking-tight'>
			<span class='font-bold'>{profile.firstName}</span>
			{profile.lastName}
		</h1>

		<div class='mb-6 flex items-center gap-2'>
			<span class='relative flex size-3'>
				<span class='relative inline-flex size-3 rounded-full bg-blue-600 dark:bg-blue-500'></span>
			</span>
			<p
				class='rounded-md border border-blue-100 bg-blue-50 px-2 py-0.5 text-xs font-bold tracking-wide text-blue-600 uppercase dark:border-blue-500/20 dark:bg-blue-500/10 dark:text-blue-400'
			>
				{profile.role}
			</p>
		</div>

		<p class='text-muted-foreground mb-6 max-w-sm text-sm leading-relaxed font-normal'>
			{profile.description}
		</p>

		<div class='flex max-w-sm flex-wrap gap-x-4 gap-y-3'>
			{
				stickyProfileContact.map((item) => (
					<a
						href={item.url}
						target='_blank'
						rel='noopener noreferrer'
						class='group text-muted-foreground focus-visible:ring-offset-background flex items-center gap-2 rounded-sm text-xs transition-colors outline-none hover:text-blue-600 focus-visible:ring focus-visible:ring-blue-400 focus-visible:ring-offset-2 dark:hover:text-white dark:focus-visible:ring-blue-500'
					>
						<Icon
							name={item.icon}
							class='text-muted-foreground/70 size-3.5 transition-colors group-hover:text-blue-600 dark:group-hover:text-blue-400'
						/>
						{item.label}
					</a>
				))
			}
		</div>
	</div>
</div>
